.section{
    background-image: url("../assets/contactUs.jpg");
    padding: 15%;
}

.red-box{
    border-radius: 10px;
    background: rgba(1, 1, 1, 0.7);
    padding: 3%;
}

.red-box h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3%;
    color: #F4F4F4;
}

form{
    margin: auto;
    text-align: center;
}

form > input{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    background: #F4F4F4;
    padding: 10px;
}

form > select{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    background: #F4F4F4;
    padding: 5px;
    color: #686c7a;
}

form .konten{
    margin: auto;
    text-align: left;
    width: 80%;
    font-size: 14px;
    padding: 5px;
    font-style: italic;
}

.submit{
    background: #020202d0;
    ;
    color: #F4F4F4;
    border: none;
    width: 80%;
    border-radius: 10px;
    height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.submit:hover{
    /* transform: translateY(-10px); */
    background-color: rgb(94, 94, 94);
    transition: all 0.2s ease-in-out;
}

.error {
    color : rgb(181, 161, 31);
    font-size: 14px;
    font-style: italic;
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
}

form .error-container{
    margin: auto;
    margin-top: 5px;
    text-align: left;
    width: 80%;
    font-size: 14px;
    font-style: italic;
}


@media (max-width: 414px){
    .red-box h1{
        font-size: 2rem;
    }
    form .gender .gender-box{
        font-size: 12px;
    }
    form ::placeholder{
        font-size: 12px;
    }
    form label{
        font-size: 12px;
    }
}